.calendar.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: none;
  font-family: "Figtree", sans-serif;
  line-height: 1.125em;
}
.calendar.react-calendar--doubleView {
  width: 700px;
}
.calendar.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.calendar.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.calendar.react-calendar,
.calendar.react-calendar *,
.calendar.react-calendar *:before,
.calendar.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.calendar.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.calendar.react-calendar button:enabled:hover {
  cursor: pointer;
}
.calendar.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
}
.calendar.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.calendar.react-calendar__navigation button:enabled:hover,
.calendar.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.calendar.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
.calendar.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.calendar.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.calendar.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.calendar.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.calendar.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
.calendar.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.calendar.react-calendar__year-view .react-calendar__tile,
.calendar.react-calendar__decade-view .react-calendar__tile,
.calendar.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.calendar .react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  background: none;
}
.calendar .react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.calendar .react-calendar__tile:enabled:hover,
.calendar .react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.calendar .react-calendar__tile--now {
  background: #f8426f;
  color: white;
}
.calendar .react-calendar__tile--now:enabled:hover,
.calendar .react-calendar__tile--now:enabled:focus {
  background: #f8426f;
  color: white;
}
.calendar .react-calendar__tile--hasActive {
  background: #d61f4d;
}
.calendar .react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #d61f4d;
}
.calendar .react-calendar__tile--active {
  background: #f84072;
  color: white;
}
.calendar .react-calendar__tile--active:enabled:hover,
.calendar .react-calendar__tile--active:enabled:focus {
    background: #d61f4d;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
